# --- Backend (Python/Poetry) ---
.venv/
__pycache__/
*.py[cod]
*$py.class
.env
poetry.lock
.python-version

# --- Frontend (React/Next.js) ---
node_modules/
.next/
out/
build/
.DS_Store
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- IDE & OS ---
.vscode/
.idea/
Thumbs.db

# --- Docker & Database (Lokal di dalam folder backend) ---
backend/alembic/
backend/alembic/versions
backend/alembic.ini
backend/docker-compose.yaml
backend/data/
backend/src/backend/database.py
backend/src/backend/models.py
backend/.venv/